.lincoapp-footer
    .page-prefooter
        .container
            .row
                .col-md-3.col-sm-6.col-xs-12.footer-block
                    h2 About
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore.
                .col-md-3.col-sm-6.col-xs12.footer-block
                    h2 Subscribe Email
                    .subscribe-form
                        form(action='javascript:;')
                            .input-group
                                input.form-control(type='text', placeholder='mail@email.com')
                                span.input-group-btn
                                    button.btn(type='submit') Submit
                .col-md-3.col-sm-6.col-xs-12.footer-block
                    h2 Follow Us On
                    ul.social-icons
                        li
                            a.rss(href='javascript:;', data-original-title='rss')
                        li
                            a.facebook(href='javascript:;', data-original-title='facebook')
                        li
                            a.twitter(href='javascript:;', data-original-title='twitter')
                        li
                            a.googleplus(href='javascript:;', data-original-title='googleplus')
                        li
                            a.linkedin(href='javascript:;', data-original-title='linkedin')
                        li
                            a.youtube(href='javascript:;', data-original-title='youtube')
                        li
                            a.vimeo(href='javascript:;', data-original-title='vimeo')
                .col-md-3.col-sm-6.col-xs-12.footer-block
                    h2 Contacts
                    address.margin-bottom-40
                        | Phone: 800 123 3456
                        br
                        | 				 Email: 
                        a(href='mailto:info@metronic.com') info@metronic.com

    .page-footer
        .container
            | 2016 © Metronic by keenthemes. 
            | Power by 叶长歌!
