.lincoapp-apply
    .form
        .group
            input.input(type="text", value="gavinning", name="username", placeholder="Username")
        .group
            input.input(type="text", value="13001033940", name="telphone", placeholder="Telphone")
        .group
            .checkbox
                span.gender.male.selected(data-value="male") 男
                spam.gender.female(data-value="female") 女

        button.btn-submit 提交
