.lincoapp-table{
    overflow: hidden;
    text-align: right;

    .table{
        text-align: left;
        margin-bottom: 0;
    }

    .btn-default{
        color: #313534;
        background-color: #e5e6e6;
        border-color: #e5e6e6;
        border-radius: 2px;
    }

    [data-type="ctrl"]{
        text-align: right;
    }

    .pagination{
        margin: 0;
    }

    .table-footer{
        .box();
        padding: 10px 0;

        .blue{
            color: @blue;
            margin: 0 2px;
        }

        .info{
            .box-flex();
            text-align: left;
            line-height: 34px;
            cursor: default;
        }
    }

    .label.label-sm{
        padding: 3px 6px 2px 6px;
    }

    // 紫色
    .label-pink{
        background-color: #ecace8;
    }

    // 最高分
    .label-high{
        background-color: #09b71f;
    }

    // 格式化评分
    [data-type="score"] .label{
        min-width: 26px;
        display: inline-block;
    }
}
