.lincoapp-table
    table.table
        thead
            tr
                th(data-type="number") $
                each value, key in map
                    if(key !== 'id')
                        th(data-type= key)= value
        include ./tbody
    .table-footer
        .info 共
            span.blue= config.data.list.length
            | 条数据
        .pagination
