.page
    #lincoapp-id-header
    .page-container
        #lincoapp-id-header-bar
        .page-content
            .container
                #lincoapp-id-breadcrumb
                .row
                    #lincoapp-oc-usertable
