/*!src/modules/reset/reset.less*/

/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
body{font:400 14px/1.5 "\5FAE\8F6F\96C5\9ED1",Helvetica;color:#000;background-color:#fff;-webkit-text-size-adjust:none}
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0}
input[type=text],textarea{-webkit-appearance:none;outline:0}
button{outline:0;border:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-style:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
header,section,footer,img{display:block;margin:0;padding:0}
a{color:#000;text-decoration:none}
.dn{display:none!important}
.oh{overflow:hidden!important}
.vh{visibility:hidden!important}
.no-tap-color{-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0)}
/*!src/css/common.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!
 * common For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
html{font-size:100px}
body{color:#4c4c4c;font-size:14px;background:#eff3f8}
.pages{overflow:hidden}
.page{margin:0 auto}
/*!src/css/base.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/modules/base/base.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/modules/loading2/loading2.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
.lincoapp-loading2{display:inline-block;background:rgba(0,0,0,.9);border-radius:4px;overflow:hidden;color:rgba(255,255,255,.9);padding:20px;min-width:100px;text-align:center}
.lincoapp-loading2.ap{position:fixed;top:40%;left:50%;margin-left:-68px;margin-top:-36px}
.lincoapp-loading2 .icon-loading{display:inline-block;width:24px;height:24px;background:url(../images/loading2/img/loading.gif) no-repeat;background-size:100% auto;margin-right:8px}
.lincoapp-loading2 .msg{display:inline-block;vertical-align:6px;font-size:14px;font-family:'PT Sans',Helvetica,'Helvetica Neuve',Arial,Tahoma,sans-serif}
/*!src/widget/breadcrumb/breadcrumb.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/conversion/conversion.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/footer/footer.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/header-bar/header-bar.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/header/header.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
.lincoapp-header .badge,.lincoapp-header #header_inbox_bar,.lincoapp-header .search-form{display:none!important}
/*!src/widget/panel/panel.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/stats/stats.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!src/widget/table/table.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
.lincoapp-table{overflow:hidden;text-align:right}
.lincoapp-table .table{text-align:left;margin-bottom:0}
.lincoapp-table .btn-default{color:#313534;background-color:#e5e6e6;border-color:#e5e6e6;border-radius:2px}
.lincoapp-table [data-type=ctrl]{text-align:right}
.lincoapp-table .pagination{margin:0}
.lincoapp-table .table-footer{display:-webkit-box;display:-moz-box;display:box;padding:10px 0}
.lincoapp-table .table-footer .blue{color:#4e8ff2;margin:0 2px}
.lincoapp-table .table-footer .info{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:34px;cursor:default}
/*!src/css/skin.less*/
/*!
 * base For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
/*!
 * skin For admin
 * https://github.com/gavinning/aimee
 *
 * Aimee-app
 * Date: 2016-08-06
 */
.lincoapp-example.skin-aimeejs{background:#ccc}