.lincoapp-formui{
	width: 800px;
	margin: 0 auto;
	padding-bottom: 80px;

	.title{
		font-size: 20px;
		text-align: center;
		padding: 40px 0;
	}

	.desc{
		display: none;
		padding: 12px 0;
		margin-bottom: 50px;
		border-bottom: 1px solid @border;
	}

	.form-item{
		width: 460px;
		height: 44px;
		border-radius: 3px;
		border: 1px solid @border;
		padding: 0 10px;
		font-size: 16px;
		overflow: hidden;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	.table{
		width: 100%;

		th{
			width: 23%;
			font-size: 18px;
			color: @deep;
			text-align: right;
		}

		td{
			padding: 16px 30px;
		}
	}

	.btn-yellow{
		width: 460px;
	}
}