.lincoapp-apply(data-code='0')
    .form
        .group
            span.u-title 请输入您的姓名
            input.input(type='text', name='username')
        .group
            span.u-title 请输入您的手机号
            input.input(type='text', name='telphone')
        .group
            .checkbox
                span.item.gender.male.selected(data-value='male') 先生
                spam.item.gender.female(data-value='female') 女士
        .group
            span.u-title 请输入验证码
            .vcode
                .u-input
                    input.input(type='text', name='vcode')
                .u-img
                    img.vcode-img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=")
                .clear
        button.btn-submit 立即申请
