.lincoapp-userfile.remodal(data-remodal-id="modal")
    button.remodal-close(data-remodal-action="close")
    .lincoapp-msg
        h2 申请成功
        p 完善资料有助于加快审核速度和提升贷款金额上限，我们会对该资料进行保密。
        
    .lincoapp-profile.lincoapp-formui
        .form
            .form-group
                p.username
                    strong
                    span 先生
            .form-group
                span.form-title 所在城市
                input.input.form-item(type='text', name='city')
            .form-group
                span.form-title 职业身份
                select.form-item(name="job")
                    option(value="") 请选择
                    option(value="上班族") 上班族
                    option(value="个体户") 个体户
                    option(value="企业主") 企业主
                    option(value="学生") 学生
                    option(value="无固定职业") 无固定职业
            .form-group
                span.form-title 最高学历
                select.form-item(name="edu")
                    option(value="") 请选择
                    option(value="博士") 博士
                    option(value="硕士") 硕士
                    option(value="本科") 本科
                    option(value="专科") 专科
                    option(value="高中") 高中
                    option(value="其他") 其他
            .form-group
                span.form-title 是否有社保
                select.form-item(name="soc")
                    option(value="") 请选择
                    option(value="有") 有
                    option(value="无") 无
            .form-group
                span.form-title 是否有公积金
                select.form-item(name="acc")
                    option(value="") 请选择
                    option(value="有") 有
                    option(value="无") 无
            .form-group
                span.form-title 是否有车
                select.form-item(name="car")
                    option(value="") 请选择
                    option(value="有") 有
                    option(value="无") 无
            .form-group
                span.form-title 房产类型
                select.form-item(name="house")
                    option(value="") 请选择
                    option(value="无房产") 无房产
                    option(value="小产权房") 小产权房
                    option(value="经济/限价房") 经济/限价房
                    option(value="房改/危改房") 房改/危改房
                    option(value="厂房") 厂房
                    option(value="办公楼") 办公楼
                    option(value="商铺") 商铺
                    option(value="商品住宅") 商品住宅
                    option(value="商住两用房") 商住两用房
                    option(value="自建房") 自建房
            .form-group
                span.form-title 请输入验证码
                .vcode
                    .u-input
                        input.input(type='text', name='vcodefull')
                    .u-img
                        img.vcode-img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=")
                    .clear
            button.form-btn.btn-full 提交资料
