.cards
    .inner
        a.item.first(href='')
            img(src='/#{version}/images/d1.png', alt='')
        a.item.two(href='')
            img(src='/#{version}/images/d2.png', alt='')
        a.item.three(href='')
            img(src='/#{version}/images/d3.png', alt='')
        a.item.last(href='')
            img(src='/#{version}/images/d4.png', alt='')
