.cards
    .inner
        a.item.first(href='/apply')
            img(src='/#{version}/images/d1.png', alt='')
        a.item.two(href='/apply')
            img(src='/#{version}/images/d2.png', alt='')
        a.item.three(href='/apply')
            img(src='/#{version}/images/d3.png', alt='')
        a.item.last(href='/apply')
            img(src='/#{version}/images/d4.png', alt='')
