.footer
    .inner
        .left
            .nav
                a.item(href='/about/about') 关于我们
                |  |
                a.item(href='/about/shangye') 商业模式
                |  |
                a.item(href='/about/shangwu') 商务合作
                |  |
                a.item(href='/about/fuwu') 服务条款
                |  |
                a.item(href='/about/jiaru') 加入我们
                |  |
                a.item(href='/about/lianxi') 联系我们
                |  |
                a.item(href='/about/yijian') 意见反馈
            .copyright
                span Copyright 2014-2017 © SuRong Corporation.
                span All Rights Reserved.
            .address 地址：上海市普陀区金沙江路1006号
            .address 豫ICP备14001596号-3
        .right
            img.code(src='/#{version}/images/code2.png', alt='')
        .clear
