.footer
    .inner
        .left
            .nav
                a.item(href='') 关于我们
                |  |
                a.item(href='') 公司介绍
                |  |
                a.item(href='') 公司新闻
                |  |
                a.item(href='') 企业文化
                |  |
                a.item(href='') 联系我们
                |  |
                a.item(href='') 商家合作
                |  |
                a.item(href='') 贷款商家
            .address 上海市徐汇区金茂大厦B座0800室
            .copyright Copyright 2014-2016 © SuRong Corporation.All Rights Reserved.
        .right
            img.code(src='/#{version}/images/code2.png', alt='')
        .clear
