.header
    .inner
        .logo
            img(src='/#{version}/images/logo2.png', alt='')
        ul.nav
            li.item(class= id === 'home' ? 'selected' : '')
                a(data-type="home", href='/') 首页
            li.item(class= id === 'house' ? 'selected' : '')
                a(data-type="house", href='/loan/house') 房产贷款
            li.item(class= id === 'credit' ? 'selected' : '')
                a(data-type="credit", href='/loan/credit') 信用贷款
            li.item(class= id === 'retired' ? 'selected' : '')
                a(data-type="retired", href='/loan/retired') 退休贷款
            li.item(class= id === 'auto' ? 'selected' : '')
                a(data-type="auto", href='/loan/auto') 汽车贷款
            li.item(class= id === 'cards' ? 'selected' : '')
                a(data-type="cards", href='/loan/cards') 大额信用卡办理
            li.clear
