.highbar
    .inner
        .item
            img(src='/#{version}/images/t1.png', alt='')
        .item
            img(src='/#{version}/images/t2.png', alt='')
        .item
            img(src='/#{version}/images/t3.png', alt='')
        .item
            img(src='/#{version}/images/t4.png', alt='')
        .clear