- var a1 = list.slice(0, 13)
- var a2 = list.slice(14, 27)
.lists
    .list-text.first
        .title 资讯
        ul.list
            each item in a1
                li
                    a(href='/article/#{item.id}')= item.title

    .list-text
        .title 攻略
        ul.list
            each item in a2
                li
                    a(href='/article/#{item.id}')= item.title
    .clear
