.list-prod
    .title 相关贷款推荐
    ul.list.content
        li
            a.name(href='') 中腾信金融信息服务（上海）有限责任公司
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 1.07万
                span 分期 9225元／月
        li
            a.name(href='') 中腾信金融信息服务（上海）有限责任公司
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 1.07万
                span 分期 9225元／月
        li
            a.name(href='') 中腾信金融信息服务（上海）有限责任公司
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 1.07万
                span 分期 9225元／月
        li.last
            a.name(href='') 中腾信金融信息服务（上海）有限责任公司
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 1.07万
                span 分期 9225元／月
