.list-prod.aside
    .title 相关贷款推荐
    ul.list.content
        li
            a.name(href='/loan/pingan') 中国平安保险(集团)股份有限公司上海分公司
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 5.49万
                span 分期 6664元／月
        li
            a.name(href='/loan/cnbk') 中国银行上海分行
            .type 信用贷
            .desc
                span
                    | 总利息：
                    i.highlight 0.39万
                span 分期 8662元／月
        li
            a.name(href='/loan/yiche') 上海宜信普惠信息咨询有限公司-宜车贷
            .type 汽车贷
            .desc
                span
                    | 总利息：
                    i.highlight 2.42万
                span 分期 10348元／月
        li.last
            a.name(href='/loan/rongyi') 上海融壹金融信息服务有限公司
            .type 房产贷
            .desc
                span
                    | 总利息：
                    i.highlight 0.78万
                span 分期 8983元／月
