.types
    .nav
        .item 信用贷款
        .item 房产贷款
        .item 退休贷款
        .item 汽车贷款
        .item 应急贷款
    .navcontent
        img(src='/#{version}/images/t5.png', alt='')
    .navfooter
        .tips
            strong 36543
            span 人已咨询
        button.btn-large(onclick="location.href='/loan/credit';") 了解信用贷款
