.dates.actions
    .btn-group.btn-group-devided(data-toggle='buttons')
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.btn-date.today.active(data-type="0")
            | Today
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.btn-date.week(data-type="1")
            | Week
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.btn-date.month(data-type="2")
            | Month
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.btn-date.all(data-type="3")
            | All
