.dates.actions
    .btn-group.btn-group-devided(data-toggle='buttons')
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
            input#option1.toggle(type='radio', name='options')
            | Today
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
            input#option2.toggle(type='radio', name='options')
            | Week
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
            input#option2.toggle(type='radio', name='options')
            | Month
        label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
            input#option2.toggle(type='radio', name='options')
            | All
