.lincoapp-panel
    .portlet.light
        .portlet-title
            .caption
                //- 是否输出图标
                if(config.icon)
                    i(class= config.icon.className)
                span.caption-subject.font-green-sharp.bold.uppercase= title ? title : 'Simple Table'
            
            //- 是否使用滚动条
            .scroll
                .btn.btn-scroll SCROLL
                .btn.btn-fields All
            
            //- 是否输出action
            if(config.action)
                if(config.action.date)
                    include ./dates
                if(config.action.tool)
                    include ./tools
        .portlet-body
