.lincoapp-panel
    .portlet.light
        .portlet-title
            .caption
                i.fa.fa-user.font-green-sharp
                span.caption-subject.font-green-sharp.bold.uppercase= title ? title : 'Simple Table'
            .tools
                a.collapse(href='javascript:;', data-original-title='', title='')
                a.config(href='#portlet-config', data-toggle='modal', data-original-title='', title='')
                a.reload(href='javascript:;', data-original-title='', title='')
                a.remove(href='javascript:;', data-original-title='', title='')
        .portlet-body
