.tools
    a.collapse(href='javascript:;', data-original-title='', title='')
    a.config(href='#portlet-config', data-toggle='modal', data-original-title='', title='')
    a.reload(href='javascript:;', data-original-title='', title='')
    a.remove(href='javascript:;', data-original-title='', title='')
