extends ../layout/layout

block append css
    link(rel="stylesheet", href="/css/top/home.css")

block body
    body

        .footer
            .inner
                .copyright 2014-2016 © RONG. Power by Metronic!
        //- include app/apply
        script(src="/js/top/pages/home.js")
