.lincoapp-stats
    .row.list-separated
        .col-md-4.col-sm-3.col-xs-6
            .font-grey-mint.font-sm RV
            .uppercase.font-hg.font-red-flamingo
                | 13,760 
                span.font-lg.font-grey-mint $
        .col-md-4.col-sm-3.col-xs-6
            .font-grey-mint.font-sm UV
            .uppercase.font-hg.theme-font
                | 4,760 
                span.font-lg.font-grey-mint $
        .col-md-4.col-sm-3.col-xs-6
            .font-grey-mint.font-sm PV
            .uppercase.font-hg.font-purple
                | 11,760 
                span.font-lg.font-grey-mint $
    #sales_statistics.portlet-body-morris-fit.morris-chart(style='height: 260px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
