extends layout

block append css
    include app/stats
    
block append js
    script(src="/top/js/pkg/lib.js")
    script(src="/top/js/pkg/json.js")
    script(src="/top/js/pkg/mods.js")
    script(src="/top/js/pkg/templates.js")
    script(src="/top/js/pkg/page.js")

block page
    include app/topbar
    include app/header
    include app/bigbanner
    include app/highbar

    .main
        .inner
            include app/types
            include app/apply
            .clear

    include app/cards

    .main
        .inner
            include app/lists
            .aside
                include app/prod
            .clear

    include app/link
    include app/footer
