extends layout

block append css
    include app/stats
    
block append js
    script(src="/js/libs/verification-code.js")
    script(src="/js/libs/cookie.js")

block page
    include app/topbar
    include app/header
    include app/bigbanner
    include app/highbar

    .main
        .inner
            include app/types
            include app/apply
            .clear

    include app/cards

    .main
        .inner
            include app/lists
            .aside
                include app/prod
            .clear

    include app/link
    include app/footer

block footerjs
    script(src="/v1/js/pages/home.js")
    
