extends layout

block about
    .main.about-main
        .inner
            .aside-left
                .about-menu
                    a.item.selected(href='/about/about') 关于速融
                    a.item(href='/about/shangye') 商业模式
                    a.item(href='/about/shangwu') 商务合作
                    a.item(href='/about/fuwu') 服务条款
                    a.item(href='/about/jiaru') 加入我们
                    a.item(href='/about/lianxi') 联系我们
                    a.item(href='/about/yijian') 意见反馈
            .article.lincoapp-article
                .title 关于速融
                .article-content
                    p 东哲信息技术(上海)有限公司是中国专业的信贷产品分发和服务平台。
                    p
                        | 东哲旗下拥有垂直贷款搜索网站——速融网（www.rongzitianxia.com）、信贷移动办公平台——信贷圈、分布式贷款搜索联盟平台——速融云金融、信贷大数据风控平台——速融云风控、贷款垂直搜索平台——闪贷、智能管理个人信用卡——信用卡管家、专注5万~500万的个人/企业贷款——速融VIP服务中心、企业级大额投融资服务平台——金牌顾问等多个信贷产品、金融服务平台。
                    p
                        | 速融一直致力于为信贷双方提供服务和连接。在服务方面，速融帮助借款人快速精准匹配的贷款服务者和信贷机构， 同时帮助银行及金融机构获得优质信贷客户。在连接方面，速融本身不提供贷款，却为信贷双方建立有效快捷的连接。包括银行、信托、基金、证券、小贷、担保、典当行在内的，任何合法的金融信贷服务机构，均可与速融建立合作，实现在更大范围内的信贷分发和服务能力；任何一个专业的信贷经理和信贷员均可注册和入驻速融平台，获得客户服务机会和各种有效工具。
                    p
                    p.u-title 主营业务
                    p 消费贷款
                    p
                        | 消费贷款也叫消费者贷款，主要指的是用于留学贷款、房屋装修、购买耐用品乃至买车等方面的个人贷款，从种类上看，消费贷款包括住宅抵押贷款、非住房贷款和信用卡贷款。具有消费用途广泛、贷款额度较高、贷款期限较长等特点。
                    p 购车贷款
                    p
                        | 购车贷款是银行为缺资金的购车人发放的信用购车贷款，申请该贷款需要满足一定的申请条件，例如持有贷款人认可的购车合同或协议，具有稳定的职业和按期偿还贷款本息的能力等。
                    p 购房贷款
                    p
                        | 购房贷款是银行为缺资金的购房人发放的信用购房贷款，申请该贷款需要满足一定的申请条件，例如持有贷款人有已经签署购买住房的合同或协议，具有稳定的职业和经济收入，最好能提供收入证明最好。
                    p 企业贷款
                    p
                        | 企业贷款是指企业为了生产经营的需要，向银行或其他金融机构按照规定利率和期限的一种借款方式。企业的贷款主要是用来进行固定资产购建、技术改造等大额长期投资。目前企业贷款可分为：流动资金贷款、固定资产贷款、信用贷款、担保贷款、股票质押贷款、外汇质押贷款、单位定期存单质押贷款、黄金质押贷款、银团贷款、银行承兑汇票、银行承兑汇票贴现、商业承兑汇票贴现、买方或协议付息票据贴现、有追索权国内保理、出口退税账户托管贷款。
                    p 企业用户对于互联网贷款主要考虑，贷款机构的专业性，和提供的银行利率的比较优势，速融网汇聚的各大银行及信贷机构贷款信息推荐具有优势。
            .clear

    
