extends layout

block about
    .main.about-main
        .inner
            .aside-left
                .about-menu
                    a.item(href='/about/about') 关于速融
                    a.item(href='/about/shangye') 商业模式
                    a.item(href='/about/shangwu') 商务合作
                    a.item(href='/about/fuwu') 服务条款
                    a.item.selected(href='/about/jiaru') 加入我们
                    a.item(href='/about/lianxi') 联系我们
                    a.item(href='/about/yijian') 意见反馈
            .article.lincoapp-article
                .title 加入我们
                .article-content
                    p 有意者请将简历发送至邮箱 hr@rongzitianxia.com，并注明应聘职位。
            .clear
