extends layout

block about
    .main.about-main
        .inner
            .aside-left
                .about-menu
                    a.item(href='/about/about') 关于速融
                    a.item(href='/about/shangye') 商业模式
                    a.item(href='/about/shangwu') 商务合作
                    a.item(href='/about/fuwu') 服务条款
                    a.item(href='/about/jiaru') 加入我们
                    a.item.selected(href='/about/lianxi') 联系我们
                    a.item(href='/about/yijian') 意见反馈
            .article.lincoapp-article
                .title 联系我们
                .article-content
                    p 地址：上海市普陀区金沙江路1006号
                    p 电话：153-1778-6713    155-7752-0964
                    p 工作时间：周一至周五 9:30-18:30
            .clear
