extends layout

block about
    .main.about-main
        .inner
            .aside-left
                .about-menu
                    a.item(href='/about/about') 关于速融
                    a.item(href='/about/shangye') 商业模式
                    a.item.selected(href='/about/shangwu') 商务合作
                    a.item(href='/about/fuwu') 服务条款
                    a.item(href='/about/jiaru') 加入我们
                    a.item(href='/about/lianxi') 联系我们
                    a.item(href='/about/yijian') 意见反馈
            .article.lincoapp-article
                .title 商务合作
                .article-content
                    p.u-title 销售合作
                    p 联系人：王先生
                    p 手机号：153-1778-6713
                    p  
                    p.u-title 市场合作
                    p 联系人：秦先生
                    p 手机号：155-7752-0964
            .clear
